/* 
** ALL CREDIT GOES TO 
** Craig Buckler
** http://www.sitepoint.com/css3-starwars-scrolling-text/
**
** Blame me for the music via embedded video bit
*/

@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

@font-face {
    font-family: 'distant_galaxyregular';
    src: url('./DISTGRG_-webfont.woff') format('woff'),
         url('./DISTGRG_-webfont.svg#distant_galaxyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* { padding: 0; margin: 0; }

body, html
{
  width: 100%;
  height: 100%;
  font-family: "Droid Sans", arial, verdana, sans-serif;
	font-weight: 700;
	color: #ff6;
	background-color: #000;
	overflow: hidden;
}

body {
	background: #000 url(../bg-intro.gif);
}

.maior {
    -webkit-transform:scale(1,1.5); /* Safari and Chrome */
    -moz-transform:scale(1,1.5); /* Firefox */
    -ms-transform:scale(1,1.5); /* IE 9 */
    -o-transform:scale(1,1.5); /* Opera */
    transform:scale(1,1.5); /* W3C */
    margin-top: -100%;
    font-size: 120%;
}

p#start
{
	position: relative;
	width: 16em;
	font-size: 200%;
	font-weight: 400;
	margin: 20% auto;
	color: #4ee;
	opacity: 0;
	z-index: 1;
	-webkit-animation: intro 5s ease-out;
	-moz-animation: intro 5s ease-out;
	-ms-animation: intro 5s ease-out;
	-o-animation: intro 5s ease-out;
	animation: intro 5s ease-out;
}

@-webkit-keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	91% { opacity: 0; }
}

@-moz-keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	91% { opacity: 0; }
}

@-ms-keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	91% { opacity: 0; }
}

@-o-keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	91% { opacity: 0; }
}

@keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	91% { opacity: 0; }
}

h1
{
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
	position: absolute;
	font-family: distant_galaxyregular !important;
	width: 100%;
	top: 30%;
	font-size: 15rem;
	line-height: 0.8em;
	letter-spacing: -0.06em;
	text-align: center;
	color: #000;
	text-shadow: -5px -5px 0 #FFDD29, 5px -5px 0 #FFDD29, -5px 5px 0 #FFDD29, 5px 5px 0 #FFDD29;
	opacity: 0;
	z-index: 1;
	font-weight: 300 !important;
	-webkit-animation: logo 12s ease-out 5.5s;
	-moz-animation: logo 12s ease-out 5.5s;
	-ms-animation: logo 12s ease-out 5.5s;
	-o-animation: logo 12s ease-out 5.5s;
	animation: logo 12s ease-out 5.5s;
}

h1 sub
{
	display: block;
	font-size: 0.3em;
	letter-spacing: 0;
	line-height: 0.8em;
}

@-webkit-keyframes logo {
	0% { -webkit-transform: scale(1.2); opacity: 1; }
	50% { opacity: 1; }
	80% { opacity: 0; }
	100% { -webkit-transform: scale(0.1); opacity: 0; }
}

@-moz-keyframes logo {
	0% { -moz-transform: scale(1); opacity: 1; }
	50% { opacity: 1; }
	100% { -moz-transform: scale(0.1); opacity: 0; }
}

@-ms-keyframes logo {
	0% { -ms-transform: scale(1); opacity: 1; }
	50% { opacity: 1; }
	100% { -ms-transform: scale(0.1); opacity: 0; }
}

@-o-keyframes logo {
	0% { -o-transform: scale(1); opacity: 1; }
	50% { opacity: 1; }
	100% { -o-transform: scale(0.1); opacity: 0; }
}

@keyframes logo {
	0% { transform: scale(1); opacity: 1; }
	50% { opacity: 1; }
	100% { transform: scale(0.1); opacity: 0; }
}

/* the interesting 3D scrolling stuff */
#titles
{
	position: absolute;
	width: 15em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -7.5em;
	font-size: 500%;
	text-align: justify;
	color: #FFDD29 !important;
	overflow: hidden;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: perspective(300px) rotateX(25deg);
	-moz-transform: perspective(300px) rotateX(25deg);
	-ms-transform: perspective(300px) rotateX(25deg);
	-o-transform: perspective(300px) rotateX(25deg);
	transform: perspective(330px) rotateX(24deg);
	word-spacing: 15;
}

#titles:after
{
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: -o-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

#titles p
{
	text-align: justify;
	margin: 0.6em 0;
}

#titles p.center
{
	text-align: center;
}

#titles a
{
	color: #FFDD29;
	text-decoration: underline;
}

#titlecontent
{
	position: absolute;
	top: 100%;
	-webkit-animation: scroll 150s linear 14s infinite;
	-moz-animation: scroll 150s linear 14s infinite;
	-ms-animation: scroll 150s linear 14s infinite;
	-o-animation: scroll 150s linear 14s infinite;
	animation: scroll 150s linear 14s infinite;
}

/* animation */
@-webkit-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@-moz-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@-ms-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@-o-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}
