.levelup{
  color: red;
  position: absolute;
  margin-left: -45px;
  top: 20%;
  left: 50%;
  font-family: "Droid Sans", arial, verdana, sans-serif !important;
  font-weight: 900;
  z-index: 10;
  animation-name: levelrise;
  animation-duration: 10s;
  opacity: 0;
}

@keyframes levelrise{
  from {transform: scale(1);
      opacity: 1;}
  to {transform: scale(5);
    opacity: 0;}
}

body {
  cursor: none;
  background-color: black;
}

#pacman {
  height: 470px;
  width: 382px;
  border-radius: 5px;
  margin: 20px auto;
}

#shim {
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  visibility: hidden
}

h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  color: yellow;
}

body {
  width: 342px;
  margin: 0px auto;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #0000FF;
}