body, html{
	overflow-x: hidden;
	overflow-y: hidden;
}
#terra{
	width: 150px;
	height: 150px;
	position: absolute;
	margin-top: -75px;
	margin-left: -75px;
	top: 50%;
	left: 50%;
	z-index: 10;
}

#eric{
	width: 25px;
	height: 32px;
	position: absolute;
	margin-top: -12.5px;
	margin-left: 85px;
	top: 50%;
	left: 50%;
	z-index: 10;
}

.image1{
	position: absolute;
	top: 50%;
	left: 50%;
	transform-origin: 50% 50%;
	z-index: 10;
}

.terradiv{
	position: absolute;
	top: 50%;
	left: 50%;
	transform-origin: 50% 50%;
	z-index: 10;
}

.tiro{
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 5px;
	transform-origin: 0% 50%;
	color: red;
	background-color: red;
}

.sales{
	z-index: 1;
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: red;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  z-index: -10;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: -10;
}

.invert{
	filter: invert(100%) !important;
	-webkit-filter: invert(100%);
}

.acid {
  z-index: -10;
  transform-origin: 50% 50%;
  width: 100%;
  height: 100%;
  position: fixed;
}

#acid{
  width: 100%;
  top: 50%;
  left: 50%;
  margin-top: -25%;
  margin-left: -10px;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:-10;
  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.transparent {
	opacity:0;
}

.transparent {
	opacity:0;
}

.villain {
	position: absolute;
}

.villain img {
	width: 100%;
	height: 100%;
}

.smiley {
	position: absolute;
}

.smiley img {
	width: 100%;
	height: 100%;
}

.template {
	display: none;
}

.scene {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.titulo{
	position: relative;
	text-align: left;
	font-family: sans-serif;
	color: #ffffff;
	z-index: 10;
	width: 300px;
	margin: 30px;
	margin-bottom: 0;
}

.pontuacao{
	float: left;
	color: white;
	text-align: center;
	font-family: sans-serif;
	margin: 30px;
	margin-top: 10px;
	z-index: 10;
	color: red;
}

@keyframes levelrise{
	from {transform: scale(1);
		  opacity: 1;}
	to {transform: scale(5);
		opacity: 0;}
}

.levelup{
	color: red;
	position: absolute;
	margin-left: -45px;
	top: 20%;
	left: 50%;
	font-family: sans-serif;
	font-weight: 900pt;
	z-index: 10;
	animation-name: levelrise;
	animation-duration: 1.5s;
	opacity: 0;
}

#cf2 img {
  -webkit-transition: opacity 5s ease-in-out;
  -moz-transition: opacity 5s ease-in-out;
  -o-transition: opacity 5s ease-in-out;
  transition: opacity 5s ease-in-out;
}

#cf2 img.transparent {
	opacity:0;
}

.hidden {
	display: none;
}