body {
	background-color: #205000;
}

.scene {
	padding-top: 15%;
	background-image: url("../img/27ac7fcf04a535428ce3f19700f70d7c.jpg");
	background-size: contain;
	height: 80%;
	margin-top: 5%;
	width: 100%;
}

.pony {
	margin-left: 50%;
	transform: scale(-1, 1);
	clear: right;
	height: 58px;
	width: 62px;
}